**/obj
cpp00/ex00/megaphone
cpp00/ex01/phonebook
cpp01/ex00/brainz
cpp01/ex01/horde
cpp01/ex02/hi
cpp01/ex03/weapons
cpp01/ex04/replace
cpp01/ex05/complain
cpp02/ex00/fixed
cpp02/ex01/fixed
cpp02/ex02/fixed
cpp03/ex00/claptrap
cpp03/ex01/scavtrap
cpp03/ex02/fragtrap
cpp04/ex00/animal
cpp04/ex01/brain
cpp04/ex02/abstract
cpp04/ex03/interfaces
cpp05/ex00/bureaucrat
cpp05/ex01/form
cpp05/ex02/forms
cpp05/ex03/intern
cpp06/ex00/conversion
cpp06/ex01/data
cpp06/ex02/types
cpp07/ex00/template
cpp07/ex01/iter
cpp07/ex02/array
cpp08/ex00/find
cpp08/ex01/span
